<ion-modal-view ng-class="hide.bars ? 'content-dark' : 'content-light'">
	<!--header bar-->
	<ion-header-bar class="bar-light animate" ng-hide="hide.bars">
		<button class="button button-clear button-primary" ng-click="closeModal()">
			<span class="icon ion-ios7-close-outline"></span >
		</button>
	</ion-header-bar>

	<ion-slide-box  active-slide="data.selected" show-pager="false">
		<ion-slide ng-repeat="grid in grids" >

			<ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1"  on-tap="hide.bars = !hide.bars"
			class="animate modal-content background"
			ng-class="hide.bars ? 'content-dark full' : 'content-light has-header has-footer'" ">

			<div class="list card background">
			<!--chosen image-->
			<div class="item item-image" >
			<img class="modal-img" ng-src="{{grid.srcImage}}"/>
			</div>
			<!--shelf icon of chosen image-->
			<div class="item item-icon assertive" href="#">
			<img class="imgShelf imgShelfPopup" ng-src="{{grid.srcShelf}}"/>
			</div>
			</div>

			<br/>

			<!-- < ng-src="{{data.selected.src}}"  > -->
			</ion-scroll>
			<!--share button-->
			<ion-footer-bar  class="bar-light animate" ng-hide="hide.bars" >

			<div class="button-bar" ng-controller="ShareController">
				<a ng-click="shareAnywhere({{grid.id}})" class="button button-outline button-light icon-left ion-android-share" nav-transition="android" href="#images">SHARE</a>

			</div>

			</ion-footer-bar>
		</ion-slide>

	</ion-slide-box>

</ion-modal-view>