<!DOCTYPE html>
<html class="fonts">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Ionic App</title>
		<link href="css/ionic.app.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/myStyle.css" rel="stylesheet">
		<link rel="stylesheet" href="css/ZapfDingbats.css">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="js/ng-cordova.js"></script>
		<script src="cordova.js"></script>
		<script src="js/app.js"></script>
		<script type="text/javascript" src="js/json.js"> 	</script>
		<script src="js/share.js"></script>
		<script src="js/fileTransfer.js"></script>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
		<script src="js/jquery.jsonp-2.3.0.min.js "></script -->
		
	</head>

	<body ng-app="starter"  class="background">

		<ion-nav-bar class="bar-light">

			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"> </i> Back
			</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view id="allBody">

		</ion-nav-view>

		<script id="index.html" type="text/ng-template">
			<ion-view title="" cache-view="false">

			<ion-content class="padding">

			<div>
			<img class="fixLogo" src="img/grundig-logo.png" width="80%" />
			</div>

			<div class="button-bar">
			<button class="button button-outline button-light icon-left ion-refresh" ng-click="changePage()">REFRESH</button>
			<!-- <a class="button button-outline button-positive icon-left ion-refresh"  nav-transition="android" href="#/images">REFRESH</a> -->
			<a class="button button-outline button-light icon-left ion-camera" nav-transition="android" href="#/images">TAKE PICTURE</a>
			</div>

			<div>
			<img class="fixImage" src="img/fridge.png" width="100%" />
			</div>

			</ion-content>

			</ion-view>
		</script>

		<script id="images.html" type="text/ng-template">
			<ion-view title="{{grids[0].title}}" id="imageTitle"  cache-view="false" >
			<ion-content  class="imgCenter">  <!--class="padding"-->
			<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
			</ion-refresher>
			<div id="allImages">
			<div  class="row" ng-repeat="grid in grids" ng-if="$index % 2 === 0" ng-controller="ShareController">

			<div class="col col-50" ng-if="$index < grids.length">
				<img class="imgGrid" ng-click="openModal(grids[$index])" ng-src="{{grids[$index].srcImage}}">
				<img class="imgRaf" ng-src="{{grids[$index].srcRaf}}">
			</div>

			<div class="col col-50" ng-if="$index + 1 < grids.length">
			<img class="imgGrid" ng-click="openModal(grids[$index+1])" ng-src="{{grids[$index+1].srcImage}}">
			<img class="imgRaf" ng-src="{{grids[$index+1].srcRaf}}">

			</div>

			</div>
			</div>
			</ion-content>

			</ion-view>

		</script>
	</body>

</html>