<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Ionic App</title>
		<link href="css/ionic.app.min.css" rel="stylesheet"> //sass
		<link rel="stylesheet" href="css/ZapfDingbats.css"> //font
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="js/ng-cordova.js"></script>
		<script src="cordova.js"></script>
		<script src="js/app.js"></script>
		<script src="js/share.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="js/jquery.jsonp-2.3.0.min.js "></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript">
            function JSONProcess() {
                $.getJSON("https://dl.dropboxusercontent.com/u/1403240/staj/metadata.json", function(data) {
                    deviceName = data.deviceName;
                    var raspiCamCount = data.raspiCamCount;

                    for (var i = 0; i < raspiCamCount; i++) {
                        URLs[i] = data.cams[i].url;
                        grids[i].srcImage = URLs[i];
                        grids[0].title = deviceName;
                    }

                });
            }

            function getTimeStamp() {
				return Date.now;
            }

            var URLs = [];
            var grids;
            var deviceName;
            grids = [{
                id : 0,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_1.png',
                title : 'Images',
            }, {
                id : 1,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_2.png',
            }, {
                id : 2,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_3.png',
            }, {
                id : 3,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_4.png',
            }];
            $(document).ready(function() {
                JSONProcess();

            });

            function clearContent(id) {
                alert("Clear");
                //  grids[0].srcImage = 'http://placehold.it/150x150';

                document.getElementById(id).innerHTML = "";
                alert("done");

            }

		</script>
		<style>
			.imgGrid {
				display: block;
				width: 100%;
				height: auto;
			}

			.imgRaf {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 5px;
				height: 30px;
				width: 30px;
			}

			.imgCenter {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 5px;
			}
			.fixImage {
				bottom: 0px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 15%;
			}
			.fixLogo {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 15%;
			}
			.bar.bar-positive .title, .button {
				font-family: "ZapfDingbats";
			}
			.background, .background .pane, .background .item, .background .item-complex .item-content {
			 background-color: #14232D;
			 }
			 
		</style>
	</head>

	<body ng-app="starter"  class="background">

		<ion-nav-bar class="bar-light">

			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"> </i> Back
			</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view id="allBody">

		</ion-nav-view>

		<!-- <ion-pane>
		<ion-header-bar class="bar-positive">
		<h1 class="title">myNetwork</h1>
		</ion-header-bar>
		<ion-header-bar class="bar-subheader bar-positive">
		<h1 class="title">Subheader</h1>
		</ion-header-bar>
		<ion-content class="padding">
		<ion-list>
		<button class="button button-positive">button</button>
		<button class="button button-block button-outline button-positive">
		Outlined Button
		</button>
		<button class="button button-block button-positive">Block Button</button>
		<button class="button button-block button-clear  button-positive">Clear Button</button>
		<ion-item href="#" class="item-positive">Item</ion-item>
		<ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
		<div class="item range range-positive">
		<i class="icon ion-ios7-sunny-outline"></i>
		<input type="range" name="volume" min="0" max="100" value="33">
		<i class="icon ion-ios7-sunny"></i>
		</div>
		<a class="item" href="#">
		Badges
		<span class="badge badge-positive">0</span>
		</a>
		</ion-list>
		</ion-content>
		<ion-footer-bar class="bar-positive">
		<h1 class="title">Footer</h1>
		</ion-footer-bar>
		</ion-pane> -->
		<script id="index.html" type="text/ng-template">
			<ion-view title="Grundig" cache-view="false">

			<ion-content class="padding">

			<div>
			<img class="fixLogo" src="img/grundig-logo.png" width="80%" />
			</div>

			<div class="button-bar">
			<button class="button button-outline button-light icon-left ion-refresh" ng-click="changePage()">REFRESH</button>
			<!-- <a class="button button-outline button-positive icon-left ion-refresh"  nav-transition="android" href="#/images">REFRESH</a> -->
			<a class="button button-outline button-light icon-left ion-camera" nav-transition="android" href="#/images">TAKE PICTURE</a>
			</div>

			<div>
			<img class="fixImage" src="img/fridge.jpeg" width="100%" />
			</div>

			</ion-content>

			</ion-view>
		</script>

		<script id="yedekImage.html" type="text/ng-template">
			<ion-view title="{{grids[0].title}}" id="imageTitle" cache-view="false" >
			<ion-content class="padding"  >
			<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
			</ion-refresher>
			<div id="allImages">
			<div  class="row" ng-repeat="grid in grids" ng-if="$index % 2 === 0">

			<div class="col col-50" ng-if="$index < grids.length">
			<img class="imgGrid" ng-click="openModal(grids[$index])" ng-src="{{grids[$index].srcImage}}&{{getTimeStamp()}}">
			<img class="imgRaf" ng-src="{{grids[$index].srcRaf}}">
			</div>

			<div class="col col-50" ng-if="$index + 1 < grids.length">
			<img class="imgGrid" ng-click="openModal(grids[$index+1])" ng-src="{{grids[$index+1].srcImage}}">
			<img class="imgRaf" ng-src="{{grids[$index+1].srcRaf}}">
			</div>

			</div>
			</div>
			</ion-content>
			<ion-footer-bar class="bar-positive" >
			<div class="button-bar" ng-controller="ShareController">
			<a  onclick="clearContent('allImages')" class="button button-outline button-light icon-left ion-refresh"  href="#images" nav-transition="android"  >REFRESH</a>

			<a ng-click="shareAnywhere()" class="button button-outline button-light icon-left ion-android-share" nav-transition="android" href="#images">SHARE</a>
			</div>
			</ion-footer-bar>
			</ion-view>

		</script>
	</body>

</html>