<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Ionic App</title>
		<link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="css/ZapfDingbats.css">
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="js/ng-cordova.js"></script>
		<script src="cordova.js"></script>
		<script src="js/app.js"></script>
		<script src="js/share.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="js/jquery.jsonp-2.3.0.min.js "></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript">
            function JSONProcess() {
                $.getJSON("https://dl.dropboxusercontent.com/u/1403240/staj/metadata.json", function(data) {
                    deviceName = data.deviceName;
                    var raspiCamCount = data.raspiCamCount;

                    //$("#imageTitle").innerHTML = "";

                    for (var i = 0; i < raspiCamCount; i++) {
                        URLs[i] = data.cams[i].url;
                        grids[i].srcImage = URLs[i];
                        grids[0].title = deviceName;
                        //document.getElementById("imageTitle").innerHTML = deviceName;
                        //$("#images").append("<li class=\"item\" ><img src=' " + URLs[i] + " ' width='100%' heigth='100%'></li> ");
                    }

                    //angular.element(document.getElementById('main')).scope().initialize(grids);
                });
            }

            var URLs = [];
            var grids;
            var deviceName;
            grids = [{
                id : 0,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_1.png',
                title : 'Images',
            }, {
                id : 1,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_2.png',
            }, {
                id : 2,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_3.png',
            }, {
                id : 3,
                srcImage : 'http://placehold.it/150x150',
                srcRaf : 'img/raf4_4.png',
            }];
            $(document).ready(function() {
                JSONProcess();

            });

            function clearContent(id) {
                alert("Clear");
                //  grids[0].srcImage = 'http://placehold.it/150x150';

                document.getElementById(id).innerHTML = "";

                setTimeout(function() {
                    document.getElementById(id).innerHTML = "<div  class=\"row\" ng-repeat=\"grid in grids\" ng-if=\"$index % 2 === 0\"><div class=\"col col-50\" ng-if=\"$index < grids.length\"><img class=\"imgGrid\" ng-click=\"openModal(grids[$index])\" ng-src=\"{{grids[$index].srcImage}}\">	<img class=\"imgRaf\" ng-src=\"{{grids[$index].srcRaf}}\"></div><div class=\"col col-50\" ng-if=\"$index + 1 < grids.length\"><img class=\"imgGrid\" ng-click=\"openModal(grids[$index+1])\" ng-src=\"{{grids[$index+1].srcImage}}\">		<img class=\"imgRaf\" ng-src=\"{{grids[$index+1].srcRaf}}\"></div></div>";

                    JSONProcess();

                }, 5000);

            }

		</script>
		<style>
			.fixImage {
				bottom: 0px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 15%;
			}
			.fixLogo {
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 15%;
			}
			.bar.bar-positive .title, .button {
				font-family: "ZapfDingbats";
			}
		</style>
	</head>

	<body ng-app="starter"  >

		<ion-nav-bar class="bar-positive">

			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"> </i> Back
			</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view id="allBody">

		</ion-nav-view>

		<script id="index.html" type="text/ng-template">
			<ion-view title="Grundig">

			<ion-content class="padding">

			<div>
			<img class="fixLogo" src="img/grundig-logo.png" width="80%" />
			</div>

			<div class="button-bar">
			<a class="button button-outline button-positive icon-left ion-refresh"  nav-transition="android" href="#/images">REFRESH</a>
			<!-- <a style="margin:auto;float:left;" nav-transition="android" href="#/images"><button class="Mainbuttons"  >REFRESH </button></a>
			<!-- <a style="margin:auto;float: right" nav-transition="android" href="#/images"><button class="Mainbuttons"  >TAKE PICTURE </button></a-->
			<a class="button button-outline button-positive icon-left ion-camera" nav-transition="android" href="#/images">TAKE PICTURE</a>
			</div>

			<div>
			<img class="fixImage" src="img/fridge.jpeg" width="100%" />
			</div>

			</ion-content>

			</ion-view>
		</script>

		<script id="yedekImage.html" type="text/ng-template">
			<ion-view title="{{grids[0].title}}" id="imageTitle" >
			<ion-content class="padding"  >
			<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
			</ion-refresher>
			<div id="allImages">
			<div  class="row" ng-repeat="grid in grids" ng-if="$index % 2 === 0">

			<div class="col col-50" ng-if="$index < grids.length">
			<img class="imgGrid" ng-click="openModal(grids[$index])" ng-src="{{grids[$index].srcImage}}">
			<img class="imgRaf" ng-src="{{grids[$index].srcRaf}}">
			</div>

			<div class="col col-50" ng-if="$index + 1 < grids.length">
			<img class="imgGrid" ng-click="openModal(grids[$index+1])" ng-src="{{grids[$index+1].srcImage}}">
			<img class="imgRaf" ng-src="{{grids[$index+1].srcRaf}}">
			</div>

			</div>
			</div>
			</ion-content>
			<ion-footer-bar class="bar-light" >
			<div class="button-bar" ng-controller="ShareController">
			<a  onclick="clearContent()" class="button button-outline button-positive icon-left ion-refresh"  href="#images" nav-transition="android"  >REFRESH</a>

			<a ng-click="shareAnywhere()" class="button button-outline button-positive icon-left ion-android-share" nav-transition="android" href="#images">SHARE</a>
			</div>
			</ion-footer-bar>
			</ion-view>

		</script>

		<!-- <script id="share.html" type="text/ng-template">
		<ion-view title="Share"  >
		<ion-content class="padding"  ng-controller="ShareController">

		<div class="button-bar">
		<a class="button button-outline button-positive icon-left ion-refresh"  href="#images" nav-transition="android"  >REFRESH</a>
		<a ng-click="shareViaWhatsApp('Demo message', 'img/ionic.png', 'http://santoshshinde2012.blogspot.com')" class="button button-outline button-positive icon-left ion-android-share" nav-transition="android" href="#share">SHARE</a>
		</div>

		<br><br>
		<button class="button" ng-click="shareAnywhere()">Share anywhere</button>
		<!-- Place Your Image file www/img directory -->
		<!-- <button class="button" ng-click="shareViaTwitter('Demo message', 'img/ionic.png', 'http://santoshshinde2012.blogspot.com')">Share on Twitter</button>
		<br><br>
		<button class="button" ng-click="shareViaWhatsApp('Demo message', 'img/ionic.png', 'http://santoshshinde2012.blogspot.com')">Share on WhatsApp</button>
		<button class="button" ng-click="shareViaFacebook('Demo message', 'img/ionic.png', 'http://santoshshinde2012.blogspot.com')">Share on Facebook</button>

		</ion-content>

		</ion-view>

		</script -->

	</body>

</html>