.bar.bar-positive .title, .button, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'ZapfDingbats';
	color: #fff;
}
.ionic-body, body {
	font-family: 'ZapfDingbats';
	color: #fff;
}

.fonts {
	font-family: 'ZapfDingbats';
	color: white !important;
	font-size: 30px !important;
	font-weight: 200 !important;
}

.modal {
	height: 100%;
}
/* for images */
.imgGrid {
	display: block;
	width: 100%;
	height: auto;
}

/* center shelf icons*/
.imgShelf {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 30px;
	width: 30px;
}
/*center popup shelf icons*/
.imgShelfPopup {
	margin-top: 0px;
}
/*center all images*/
.imgCenter {
	/*display: block;
	 margin-top: 20%; */
}
/* center fridge image*/
.centerFridgeImage {
	bottom: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}
/*center logo*/
.centerLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
}
/*change background color*/
.background, .background .pane, .background .item, .background .item-complex .item-content {
	background-color: #14232D;
}
.center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}